config/app.config.php
tests/app.config.php
tests/codegen/*log*
tests/codegen/output
tests/codegen/output2
tests/codegen/output3
tests/pdo.config.php
tests/sampleApp/config/app.config.php
tests/sampleApp/var/
nbproject
emails/
.tags
commit.txt
*#*
