<?php

$config = array(
    'someKey' => 'someValue',
    'baseKey' => 'baseValue',
    'keyOverwrittenInConstructorOptions' => 'Value that will be overwritten',
    'keyOverwrittenInConstructorOptions2' => 'Value that will be overwritten',
    'keyOverwrittenInEnvOptions' => 'Value that will be overwritten',
    
    'legacyDatabasePrototype' => array(
        'class' => 'Ae_Legacy_Database_Native',
        '__construct' => array(array(
            'user' => 'user',
            'password' => '',
            'db' => 'ae_sample',
        )),
    ),
);
